<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 style="color:red">Nuestra primera plantilla.</h2>
    <p>Eln nombre del profesor es: {{nombre_persona}} {{apellido_persona}}</p>
    <p>Estamos viendo las plantillas al dia: {{momento_actual}} </p>
    <p><strong>Temas del curso:</strong></p>
    <p>
        <ul>
        {% if temas %}    
            {% for elemento in temas%}
             <li> {{elemento}} </li>

             {% endfor %}

        {%else %}
        <p>No hay datos q mostrar</p>
        {% endif %}
         </ul>

    </p>
</body>
</html>