{% extends "base.html"%}

{% block title %} Home{% endblock%}

{% block content %}
<p>Estamos a Dia: {{damefecha}}</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/d1-UX6aR_TM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem quisquam soluta eius sapiente quasi vero ut aspernatur, eum veritatis modi impedit architecto voluptas. Temporibus, quis laudantium nobis explicabo tempora porro minima alias iste molestias ducimus dolor illo quos sed! Omnis!</p>

{% endblock %}